<h4>add todos</h4>
<div class="my-3 container" style="margin: 100px 0px;">
<form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="title" class="form-label">Todo Title</label>
      <input type="text" [(ngModel)]="title" name="title" class="form-control" id="title" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">Password</label>
      <input type="text" [(ngModel)]="desc" name="desc" class="form-control" id="desc">
    </div>
    <button type="submit" class="btn btn-sm btn-primary" (click)="onSubmit()">Add todo</button>
  </form>
</div>